body{
    font-family: 'Inter';
}

header{
    width: 87%;
    height: 127px;
    background-color: white;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    border: 1px solid black;
    text-transform:Uppercase;
}

.full_name{
    width: 155px;
    height: 55px;
    position: relative;
    top:15px

}

.name{
    Width:155px;
    Height:29px;
    Top:6px;
    Left:10px;
    font-weight: 800;
    font-size: 30px;
}

.surname{
    width: 155px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
}

.under_name{

    Width:143px;
    Height:16px;
    margin-left: 7px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 14px;
}

.navigation{
    display: flex;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
    left: 200px;
    bottom: 34px;
    Width: 917px;
    Height: 22px;
    gap:112px;
    align-items: center;
}

.navig{
    font-weight: 600;
    font-size: 14px;

}