body{
    position: relative;
    left: 150px;
    font-family: 'Inter';
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    width: 1400px;
    height: 127px;
    position: relative;
    left: 21px;
    justify-content: space-between;
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 1px;
    text-transform:Uppercase;
}

.full_name{
    width: 155px;
    height: 55px;
    position: relative;
    top:15px

}

.name{
    Width:155px;
    Height:29px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.2px;
}

.surname{
    width: 155px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
}

.under_name{

    Width:143px;
    Height:16px;
    margin-left: 7px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 14px;
}

.navigation{
    display: flex;
    position: relative;
    top: 46px;
    left: 42px;
    bottom: 34px;
    Width: 652px;
    Height: 22px;
    gap: 107px;
    align-items: center;
    justify-content: space-between;
}

.navig{
    font-weight: 600;
    font-size: 14px;

}

.account{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    float: right;
    top: 45px;
    right: -64px;
    bottom: 60px;
    width: 258px;
    Height: 23px;

}

.enter{
    display: flex;
    flex-direction: row;
    Width: 73px;
    Height: 24px;
    Gap:8px;
}

.vhod{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.wallet{
    display: flex;
    flex-direction: row;
    Width: 80px;
    Height: 24px;
}

.wallet img{
    margin-right: 8px;
    position: relative;
    left: -0.5px;
    top: -0.5px;
}

.count{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: -1px;
    left: 0.5px;
}

main{
    width: 1600px;
    height: 2760px;
    text-transform:Uppercase;
}

.section1{
    display: flex;
    position: relative;
    Width: 1678px;
    Height:204px;
    Top: -97px;
    Left:-58px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 199px;
    text-align: center;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    color: rgba(156, 156, 156, 0.3);
    z-index: 0;
}

.clock{
    position: relative;
    Width:1016px;
    top: -464px;
    Left: 57px;
    z-index: 10;
}

.info{
    display: flex;
    position: relative;
    flex-direction: column;
    Width:410px;
    Height:532px;
    Top:-1219px;
    Left:1109px;
    Padding:30px;
    Gap:30px;
    z-index: 20;
}

.clock_name{
    width: 302px;
    height: 88px;
    font-weight: 900;
    font-size: 37px;
}

.upper_name{
    width: 302px;
    height: 88px;
    font-weight: 900;
    font-size: 37px;
    position: relative;
    top: -38.6px;
    left: 2px;
    letter-spacing: 1.2px;
}

.downer_name{
    width: 300px;
    height: 88px;
    font-weight: 900;
    font-size: 37px;
    position: relative;
    top: -201px;
    left: -1px;
}

span{
    width: 9px;
    border: 3px solid black;
    position: relative;
    top: -31px;
    left: -2px;
}

.number{
    width: 175px;
    height: 58px;
    letter-spacing: 1px;
    margin-top: -64px;
    margin-bottom: 213px;
    position: relative;
    top: -1px;
    left: -0.3px;
}

.price{
    width: 134px;
    font-weight: 400;
    font-size: 48px;
    color: rgb(0.0.0.1)
}

.rubl{
    position: relative;
    top: -107px;
    left: 140px;
    width: 31px;
    font-weight: 400;
    font-size: 48px;
    color: rgba(220, 216, 216, 1);

}

.stats{
    display: grid;
    grid-template-columns: 159px 159px;
    grid-template-rows: 60px 60px;
    grid-template-areas:
        'box1 box2'
        'box3 box4';
    position: relative;
    text-transform: none;
    top: -180px;
    gap: 20px;
}

.material{
    Width: 160px;
    Height: 85px;
    position: relative;
    top: -2px;
    left: -2px;
}

.point1{
    font-weight: 400;
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
    margin-top: 0px;
    margin-bottom: -10px;
    letter-spacing: 0.1px;
}

.point2{
    font-weight: 400;
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
    margin-top: 0px;
    margin-bottom: -10px;
    position: relative;
    top: -2px;
    left: -0.7px;
}

.point3{
    font-weight: 400;
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
    margin-top: 0px;
    margin-bottom: -10px;
    position: relative;
    top: 1px;
    left: -2px;
    letter-spacing: 0.1px;
}

.point4{
    font-weight: 400;
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
    margin-top: 0px;
    margin-bottom: -10px;
    position: relative;
    top: 1px;
    left: -1px;
    letter-spacing: 0.3px;
}


.opisanie1{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: -1.39px;
    letter-spacing: 0.11px;
    
}

.opisanie2{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: -3.3px;
    left: -1px;
    letter-spacing: 0.14px;
    
}

.opisanie3{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    left: -2px;
    letter-spacing: 0.1px;
    
}

.opisanie4{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    left: -1px;
    
}

.options{
    Width: 150px;
    Height: 63px;
    position: relative;
    float: right;
    
}

.gabarit{
    Width: 150px;
    Height: 63px;
}

.glass{
    Width: 150px;
    Height: 44px;
    position: relative;
    float: right;
}

.button_buy{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -175px;
    left: -2px;
    width: 133px;
    height: 20px;
    border-radius: 9px;
    border: 2px solid black;
    padding: 18px 54px;
    gap: 10px;
    text-transform: none;
}

.button_buy img{
    width: 25px;
    height: 25px;
}

.button_buy h1{
    width: 102px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
}

#material{
    grid-area: box1;
}

#options{
    grid-area: box2;
}

#gabarit{
    grid-area: box3;
}

#glass{
    grid-area: box4;
}

.galary img{
    Width:171px;
    Height:121px;
    border-radius:9px;
}

.galary{
    display: flex;
    width: 543px;
    height: 121px;
    position: relative;
    top: -1190px;
    left: 121px;
    gap: 15px;
    
}

.strelka1{
    position: relative;
    top: -1099.9px;
    left: 92px;
}

.strelka2{
    position: relative;
    top: -1271px;
    left: 679px;
}

.information{
    width: 720px;
    height: 155px;
    display: flex;
    position: relative;
    top: -1394px;
    left: 821px;
    gap: 30px;
    text-transform: none;
}

.div1{
    width: 220px;
    height: 155px;
}

.div2{
    width: 220px;
    height: 155px;
}

.div3{
    width: 220px;
    height: 155px;
}

.div1 h1{
    position: relative;
    top: -11px;
    width: 73px;
    height: 73px;
    font-weight: 900;
    font-size: 61px;
    letter-spacing: 3.5px;
    color: black;
}

.div1 p{
    width: 160px;
    height: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    letter-spacing: 0.06px;
    top: -52px;
    left: -2px;
    color: black;
}

.div2 h1{
    position: relative;
    top: -11px;
    left: -1px;
    width: 73px;
    height: 73px;
    font-weight: 900;
    font-size: 60px;
    color: black;
    letter-spacing: 6px;
}

.div2 p{
    width: 202px;
    height: 44px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    top: -51px;
    letter-spacing: 0.1px;
    left: -1.5px;
    color: black;
}

.div3 h1{
    display: none;
}

.div3 img{
    position: relative;
    top: 25px;
    left: -2px;

}

.div3 p{
    width: 193px;
    height: 44px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    top: 6px;
    left: -2px;
    letter-spacing: 0.1px;
    color: black;
}

.section2{
    display: flex;
    position: relative;
    Width: 1075px;
    Height: 204px;
    Top: -1356px;
    Left: 367px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 204px;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: rgba(156, 156, 156, 0.3);
    z-index: 0;
}

.katalog{
    position: relative;
    top: -1573px;
    left: 407px;
    width: 1075px;
    height: 1310px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 430px 430px 430px;
    grid-template-areas:
        'win1 win2 win3'
        'win4 win5 win6'
        'win7 win8 win9';
    gap: 6px 12px;
    z-index: 10;
}

#div1{
    grid-area: win1;
}


#div2{
    grid-area: win2;
}

#div3{
    grid-area: win3;
}

#div4{
    grid-area: win4;
}

#div5{
    grid-area: win5;
}

#div6{
    grid-area: win6;
}

#div7{
    grid-area: win7;
}

#div8{
    grid-area: win8;
}

#div9{
    grid-area: win9;
}



.sskidka{
    width: 55px;
    height: 32px;
    border-radius: 5px;
    background: rgba(20, 24, 25, 1);
    position: relative;
    top: -11px; 
    left: -2px;

}

.procent{
    width: 43px;
    height: 19px;
    color: white;
    position: relative;
    top: 6px;
    left: 6px;
    letter-spacing: -0.2px;
    font-weight: 900;
    font-size: 16px;
}

.akcia{
    width: 149px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.akcia2{
    width: 149px;
    height: 30px;
    position: relative;
    top: 18px;
    left: 21px;
    border-radius: 5px;
    border: 1px solid black;
}

.akcia3{
    width: 149px;
    height: 30px;
    position: relative;
    top: 14px;
    left: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.do_1{
    width: 81px;
    height: 17px;
    position: absolute;
    top: -4px;
    left: 61px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: none;

}

.div_grid1{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid2{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid3{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid4{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid5{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid6{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid7{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid8{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid9{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.div_grid9{
    width: 350px;
    height: 427px;
    border-radius: 9px;
    background: rgb(243, 242, 242, 0.95);
}

.star1{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 296px;
    top: -164px;

}

.star2{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.4px;
    top: -220px;
}

.star3{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.4px;
    top: -225px;
}

.star4{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.5px;
    top: -11.1px;
}

.star5{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.5px;
    top: -219.1px;
}

.star6{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.5px;
    top: -217.1px;
}

.star7{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.5px;
    top: -259px;
}

.star8{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 295.5px;
    top: -198.1px
}

.star9{
    width: 23px;
    height: 22px;
    color: rgba(0, 0, 0);
    position: relative;
    left: 298.5px;
    top: -290.1px;
}

.clock2{
    width: 271px;
    height: 179px;
    position: relative;
    top: 23px;
    left: 9px;
}

.clock3{
    width: 289px;
    height: 231px;
    margin-bottom: 1px;
    position: relative;
    left: 7px;
    top: -13px;
}

.clock4{
    width: 288px;
    height: 237px;
    position: relative;
    top: -17px;
    left: 4px;
}

.clock5{
    width: 338px;
    height: 275px;
    position: relative;
    top: -67px;
}

.clock6{
    width: 288px;
    height: 196px;
    margin-bottom: 34px;
    position: relative;
    top: 11px;
    left: 8px;
}

.clock7{
    width: 288px;
    height: 196px;
    margin-bottom: 34px;
    position: relative;
    top: 4px;
    left: 17px;
}

.clock8{
    width: 288px;
    height: 236px;
    margin-bottom: 34px;
    position: relative;
    top: -17px;
    left: 4px;
}

.clock9{
    width: 269px;
    height: 179px;
    margin-bottom: 34px;
    position: relative;
    top: 23px;
    left: 10px;
}

.clock10{
    width: 321px;
    height: 268px;
    margin-bottom: 34px;
    position: relative;
    top: -33px;
    left: -9px;
}

.info2{
    width: 320px;
    height: 154px;
    position: relative;
    top: 38px;
    padding: 20px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.info3{
    width: 377px;
    height: 154px;
    position: relative;
    top: -8px;
    padding: 20px;
    gap: 12px;
}

.info4{
    width: 377px;
    height: 154px;
    position: relative;
    top: -13px;
    padding: 20px;
    gap: 12px;
}

.info5{
    width: 377px;
    height: 154px;
    position: relative;
    top: -77px;
    padding: 20px;
}

.info6{
    width: 377px;
    height: 154px;
    position: relative;
    top: -6px;
    padding: 20px;
}

.info7{
    width: 377px;
    height: 154px;
    position: relative;
    top: -4px;
    padding: 20px;
}

.info8{
    width: 377px;
    height: 154px;
    position: relative;
    top: -45px;
    padding: 20px;
}

.info9{
    width: 377px;
    height: 154px;
    position: relative;
    top: 13px;
    padding: 20px;
}

.info10{
    width: 377px;
    height: 154px;
    position: relative;
    top: -78px;
    padding: 20px;
}

.vostok1{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;

}

.vostok2{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok3{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok4{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok5{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok6{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok7{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok8{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.vostok9{
    width: 337px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.4px;
    position: relative;
    top: -9px;

}

.katalog_price{
    width: 67px;
    height: 29px;
    font-weight: 400;
    font-size: 24px;
}

.katalog_rubl{
    width: 16px;
    height: 29px;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    top: -24px;
    left: 72px;
    color: rgba(0, 0, 0, 0.3);
}

.katalog_number{
    width: 89px;
    height: 29px;
    position: relative;
    top: -16px;
    letter-spacing: 0.4px;
}

.katalog_number2{
    width: 89px;
    height: 29px;
    position: relative;
    top: -25px;
    letter-spacing: 0.4px;
}

.katalog_number3{
    width: 89px;
    height: 29px;
    position: relative;
    top: -25px;
    letter-spacing: 0.4px;
}

.katalog_number4{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.katalog_number5{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.katalog_number6{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.katalog_number7{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.katalog_number8{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.katalog_number9{
    width: 89px;
    height: 29px;
    position: relative;
    top: -26px;
    letter-spacing: 0.4px;
}

.korzina_div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -23px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div6{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div7{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div8{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina_div9{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -14px;
    width: 115px;
    height: 27px;
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 20px;
    gap: 10px;
    text-transform: none;
}

.korzina{
    width: 79px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.akcia_none{
    width: 152px;
    height: 32px;
    position: relative;
    top: 14px;
    left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.shadow{
    display:none;
    width: 152px;
    height: 32px;
    position: relative;
    top: 14px;
    left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.filter{
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 436px;
    position: relative;
    top: -2823px;
    left: 123px;
    gap: 1px;
    color: black;
    text-transform: none;

}

.vibor{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.active{
    
    font-size: 18px;
    font-weight: 700;
}

.point_active{
    width: 7px;
    height: 7px;
    position: absolute;
    top: 66px;
    left: -19px;
    background-color: black;
    border-radius: 50%;
}

.line{
    width: 200px;
    border: 1px solid rgba(235, 235, 235, 1);
    margin-top: 10px;
    margin-bottom: 10px;

}

.cena{
    display: flex;
    width: 224px;
    height: 80px;
    gap: 10px;
}

.price_boxs{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 44px;
    left: -54px;
    width: 186px;
    height: 34px;
    gap: 10px;
}

.price_box{
    width: 77px;
    height: 34px;
    border-radius: 6px;
    background-color: rgba(235, 235, 235, 1);
}

.line2{
    width: 12px;
    height: 0px;
    position: relative;
    top: 16px;
    border: 1px solid black;
}

.sskidka_box{
    display:flex; 
    position: relative;
    top: 24px;
    width: 244px;
    height: 34px;
    gap: 10px;
}

.sskidka_text{
    width: 102px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top: -8px;
    letter-spacing: 0.1px;
}

.toggle{
    position: relative;
    top: -3px;
    width: 62px;
    height: 34px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 39px;
}

.ellipse{
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.more_filters{
    position: relative;
    top: 51px;
    left: 1px;
    width: 224px;
    height: 34px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img_filter{
    width: 18px;
    height: 19px;
    border-radius: 1px;
}

.filter_text{
    position: relative;
    top: -12px;
    letter-spacing: 0.3px;
    width: 119px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;

}

.section3{
    display: flex;
    position: absolute;
    Width: 1614px;
    Height: 249px;
    Top: 2532px;
    Left: -4px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 207px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(156, 156, 156, 0.3);
    z-index: 0;
}

.text_boxs{
    display: flex;
    width: 1400px;
    height: 145px;
    position: relative;
    top: -1795px;
    left: 4.5px;
    padding-left: 120px;
    gap: 38px;

}

.text_box{
    width: 310px;
    height: 145px;
}

.big_text{
    width: 310px;
    height: 44px;
    font-weight: 900;
    font-size: 18px;
}

.small_text{
    width: 300px;
    height: 72px;
    position: relative;
    top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: rgba(80, 80, 80, 1);
}

@media (max-width:673px) {

    body{
        left:0px;
        width: 673px;
    }
    header{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -10px;
        width: 673px;
        left: 2px;
    }

    .full_name{
        left: 27px;
    }

    .navigation{
        display: none;
    }

    .account{
        width: 175px;
        top: 44px;
        right: -138px;
    }

    .account img{
        display: none;
    }

    .enter{
        display: none;
    }

    .wallet{
        position: relative;
        top:1px;
    }

    .wallet img{
        display: flex;
    }

    .burger_menu{
        position: relative;
        top: 46px;
        right: 49px;
        float: right;
        display: flex;
        width: 32px;
        height: 23px;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-end;
    }

    .burger_line1{
        width: 32px;
        height: 3px;
        background-color: black;
    }

    .burger_line2{
        width: 21px;
        height: 3px;
        background-color: black;
    }
    
    main{
        width: 100%;
    }

    .section1{
        width: 702px;
        font-size: 83px;
        Top: -39px;
        Left: -27px;
        letter-spacing: 2.4px;
    }

    .clock{
        width: 605px;
        top: -348px;
        Left: 26px;
    }

    .galary{
        top: -1042px;
        left: 57px;
    }

    .strelka1{
        top: -954.89px;
        left: 28px;
    }

    .strelka2{
        top: -1126px;
        left: 615px;
    }

    .info{
        Top: -303px;
        Left: 28px;
    }

    .clock_name{
        letter-spacing: -0.1px;
    }

    span{
        top: -31px;
        width: 22px;
    }

    .number{
        letter-spacing: 1.4px;
    }

    .stats{
        grid-template-columns: 260px 235px;
        grid-template-rows: 92px 93px;
        top: -177px;
        gap: 18px;
    }

    .material{
        Width: 222px;
        Height: 90px;
    }

    .point1{
        font-size: 20px;
        letter-spacing: 0.3px;
    }

    .opisanie1{
        font-size: 20px;
        top: 7.61px;
        letter-spacing: 0.3px;
    }

    .point2{   
        font-size: 21px;
        top: -4.4px;
        left: 1.5px;
    }

    .opisanie2{
        font-size: 19px;
        top: 6.8px;
        left: 2px;
        letter-spacing: 0.9px;
    }

    .point3{
        font-size: 20px;
        top: -2px;
        letter-spacing: 0.3px;
        margin-bottom: -1px;
    }

    .opisanie3{
        font-size: 20px;
        letter-spacing: 0.3px;
    }

    .point4{
        font-size: 21px;
        margin-bottom: -3px;
        top: -1px;
        left: 2px;
    }

    .opisanie4{
        font-size: 20px;
        left: 1px;
    }

    .button_buy{
        top: -179px;
        width: 99px;
    }

    .button_buy img{
        display: none;
    }

    .information{
        width: 610px;
        top: -529px;
        left: 55px;
        gap: 17px;
    }

    .div1{
        width: 175px;
    }

    .div1 h1{
        top: -19px;
        font-size: 69px;
    }

    .div1 p{
        letter-spacing: 0.08px;
        top: -54px;
        left: -3px;
        color: black;
    }

    
    .div2{
        width: 175px;
    }

    .div2 h1{
        top: -19px;
        left: 6px;
        font-size: 69px;
    }

    .div2 p{
        letter-spacing: 0px;
        top: -54px;
        left: 4px;
    }

    .div3{
        width: 175px;
    }

    .div3 img{
        display: none;
    }

    .div3 h1{
        display: block;
        position: relative;
        top: -16px;
        left: 10px;
        width: 135px;
        height: 73px;
        font-weight: 900;
        font-size: 67px;
        color: black;
        letter-spacing: 4px;
        margin-bottom: -27px;
    }

    .div3 p{
        left: 8px;
    }

    .section2{
        width: 422px;
        height: 200px;
        Top: -567px;
        Left: 35px;
        font-size: 84px;
        letter-spacing: 3px;

    }

    .filter{
        top: -2031px;
        height: 50px;
        flex-direction: row;
        left: 36px;
        gap: 23px;
        
    }

    .point_active{
        top: 3px;
        left: 168px;
    }

    .line{
        display: none;
    }

    .cena{
        display:none;
    }

    .sskidka_box{
        display: none;
    }

    .filter_box{
        display: flex;
        position: relative;
        top: -47px;
        left: 36px;
        width: 36px;
        height: 36px;
        gap: 10px;
        border-radius: 6px;
        background-color: rgba(234, 234, 234, 1);
        justify-content: center;
        align-items: center;;
    }
    .img_filter{
        width: 18px;
        height: 17px;
    }

    .filter_text{
        display: none;
    }

    .katalog{
        position: relative;
        top: -666px;
        left: 21px;
        width: 612px;
        height: 1310px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 430px 430px;
        grid-template-areas:
            'win1 win2'
            'win3 win4'
            'win5 win6';
        gap: 6px 12px;
        z-index: 10;
    }

    .div_grid1{
        width: 300px;
        height: 427px;
    }

    .procent{
        top: 5px;
        left: 6px;
        font-weight: 800;
    }

    .sskidka{
        width: 55px;
        height: 32px;
        top: -12px;
        left: -2px;
    }

    .star1{
        left: 254px;
        top: -165px;
    }

    .clock2{
        width: 270px;
        height: 178px;
        top: 23px;
        left: -15px;
    }

    .korzina_div{
        top: -22px;
        height: 27px;
    }

    .vostok1{
        position: relative;
        top: 1px;
    }

    .div_grid2{
        width: 300px;
        height: 427px;
    }

    .clock3{
        width: 289px;
        height: 240px;
        left: 10px;
        top: -44px;
    }

    .star2{
        left: 256px;
        top: -11px;
    }

    .info3{
        width: 260px;
        top: -43px;
    }
    .vostok2{
        width: 280px;
    }

    .katalog_number2{
        top:-26px;
    }

    .div_grid3{
        width: 300px;
    }

    .star3{
        left: 256px;
        top: -11px;
    }

    .clock4{
        width: 290px;
        height: 238px;
        top: -44px;
    }

    .info4{
        top: -40px;
    }

    .katalog_number3{
        top:-26px;
    }

    .div_grid4{
        width: 300px;
    }

    .star4{
        left: 256.5px;
    }

    .vostok4{
        width: 280px;
    }

    .clock5{
        content: url("./images/clock5.png");
        width: 289px;
        height: 195px;
        top: -15px;
        left: 10px;
    }

    .info5{
        width: 260px;
        top:3px;
    }

    .div_grid5{
        width: 300px;
    }

    .shadow{
        display: block;
        width: 149px;
        height: 30px;
        top: 2px;
        left: 5px;
    }

    .star5{
        left: 256.5px;
        top: -12.1px;
    }

    .clock6{
        width: 290px;
        height: 195px;
        margin-bottom: 11px;
        content: url("./images/clock6.png");
        position: relative;
        top: -21px;
        left: 18px;
    }

    .div_grid6{
        width: 300px;
    }

    .akcia2{
        display: none;
    }

    .star6{
        left: 256.5px;
        top: 22px;
    }

    .clock7{
        width: 288px;
        height: 238px;
        content: url("./images/clock.png");
        margin-bottom: -2px;
        top: -10px;
        left: 11px;
    }

    .info7{
        width: 260px;
    }

    .vostok6{
        width: 280px;
    }


    .div_grid7{
        display: none;
    }
    .div_grid8{
        display: none;
    }
    .div_grid9{
        display: none;
    }

    .section3{
        Width: 638px;
        Height: 96px;
        Top: 2830px;
        Left: 19px;
        font-size: 80px;
        letter-spacing: 3px;
    }

    .text_boxs{
    width: 635px;
    height: 305px;
    position: relative;
    top: -625px;
    left: 0px;
    padding-left: 28px;
    padding-right: 0px;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    }















}